.mastheadContactus {
	height: 100vh;
  min-height: 200px;
  background-size: cover;
  background-image: url('../assets/lake.jpg');
  width: 100%;
  background-blend-mode: overlay;
  background-position: inherit;
  background-repeat: no-repeat;
}

.box-header{
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 55px;
}

.contact-us-bg{
    padding-top: 100px;
    background-color: #c9d2a3;
    margin-bottom: 100px;
    border-radius: 12px;
    padding-bottom: 110px!important;
}

.content-contact-style{
  font-family:  "Josefin Sans", sans-serif;
  padding-top: 20px;
  color: #667382;
  font-size: 16px;
  border-top:1px solid #d5d6d1;
  padding-bottom: 100px;
}

.contact-us-head{
  color: #667382;
  line-height: 65px;
  font-family:'Libre Baskerville';
  font-size: 25px;
  text-align: center;
  position: relative;
  letter-spacing: 2px;
  border-top:1px solid #d5d6d1;
  padding-top: 5px;
  }

  .box-content-contact-style{
    font-family:  "Josefin Sans", sans-serif;
    padding-top: 20px;
    color: white;
    font-size: 20px;
    border-top:1px solid white;
  }

.contact-margin{
    margin-left: 70px;
    margin-right: 70px;
}


@media screen and (max-width:800px){
    .contact-margin{
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width:800px){
    .mastheadContactus{
      height: auto;
      min-height: 200px;
      background-image: url('../assets/lake.jpg');
      background-size: cover;
      width: 100%;
      background-blend-mode: overlay;
      background-position: inherit;
      background-repeat: no-repeat;
    } 
}