.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url('../assets/lake.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
}

.font-main{
  font-family:"Nixie One", Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 60px;
  font-style: normal;
}

.lead{
  color: white;
  font-size: 25px;
  font-weight: 200;
  font-style: normal;
}

.heading{
  font-family:"Nixie One", Arial, Helvetica, sans-serif;
}

.col-sm{
  font-weight: bolder;
  text-align: left;
  color: #747474;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.container{
  padding-bottom:100px;
}

.why-us-bg{
  background-color:  #f0f0ed;
}

.seperator{
  clear: both;
  display: block;
  height: 1px;
  width: 100%;
  overflow: hidden;
}