.nav-link{
    color:#bd9a27fd;
    font-family: 'Lato',sans-serif;
<<<<<<< HEAD
    font-size: 15px;
    font-weight: bold;
=======
    font-size: 14px;
    letter-spacing: initial;
    font-weight: 800;
    text-decoration: yellowgreen;
>>>>>>> 825c6262c82afd7c06f2ef1b8440372e7d0c6128
}

.navbar{
    opacity: 60%;
}