
.ProjectHead{
  color: #667382;
  line-height: 65px;
  font-family:'Libre Baskerville';
  font-size: 25px;
  text-align: center;
  position: relative;
  letter-spacing: 6.75px;
  border-top:1px solid #d5d6d1;
  border-bottom: 1px solid #d5d6d1;
}

.content-style{
  font-family:  "Josefin Sans", sans-serif;
  color: #667382;
  font-size: 16px;
}

.image-edges{
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
  border-bottom-left-radius: calc(1rem - 1px);
  border-bottom-right-radius: calc(1rem - 1px);
}

.card-padding{
  padding-right: 40px;
}

.sub-head-style{
  color: #667382;
  line-height: 50px;
  font-family:'Libre Baskerville';
  font-size: 24px;
  text-align: center;
  position: relative;
  border-top:1px solid #d5d6d1;
  border-bottom: 1px solid #d5d6d1;
}

@media screen and (max-width:600px){
  .card-padding{
    padding-bottom: 40px;
  }
}

