.head{
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 4.59px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
  display: block;
  color: #667382;
}
